*{
	margin: 0;
}
img{
	width: 100%;
}
.text{
	text-align: center;
	color: gold;
}
.text:hover{transition: 0.7s;
	color: red;
}
img:hover{



}
button {
text-decoration: none;
	background-color: black;
	padding: 20px;
	color: gold;	
}
button:focus{
	padding: 60px;
	transition: 0.5s;
	background-color: red;
}
/*button:hover{
	background-color: green;

}*/